<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="27094MSPsBolivia.NuestraHistoria-Laindependencia" Publisher="CN=C371548B-C6E8-4BE1-A1CE-ABF6100B001A" Version="1.0.0.6" />
  <Properties>
    <DisplayName>Nuestra Historia - La independencia</DisplayName>
    <PublisherDisplayName>MSPs Bolivia</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="OurHistory.App">
      <VisualElements DisplayName="Nuestra Historia - La Independencia" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="OurHistory" ForegroundText="light" BackgroundColor="#FF7801">
        <LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\badge.png" />
        <DefaultTile ShowName="logoOnly" WideLogo="Assets\grande.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackGroundTask3.TileUpdate3">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>